<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LevelUp</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img src="/static/latest.png" />
    <h1>Your smartest study tutor - attending classes with you live!</h1>

    <div id="response" style="margin-bottom: 20px"></div>
    <div id="C"></div>
    <div style="margin-top: 20px">
      <input
        type="text"
        id="userInput"
        placeholder="Ask your questions or enter quit to exit or start to start"
      />
      <button onclick="user_question()">Send</button>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
